html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: blue;
}

/*contains background image, hey and name*/
.top {
	margin: 0px;
	padding: 0px;
	height: 100vh;
}

a {
	text-decoration: none;
}

/*background images*/
.background {
	position: absolute;
	width: 100%;
	height: 100vh;
	z-index: -1;
}

/*text hey and name*/
header {
	text-align: center;
	color: white;
}

#hey {
	font-family: 'Cairo', sans-serif;
	font-style: italic;
	padding-bottom: 0px;
	padding-top: 200px;
	margin-top: 0px; 
	font-size: 24px;
}

#name {
	font-family: Barlow;
	padding-top: 0px;
	margin-top: 0px;
	font-style: bold;
	font-size: 56px; 
}

/*social network links*/
.social {
	text-align: center;
	padding-bottom: 5px;
}

.linkedin {
	width: 25px;
	height: auto;
	padding: 0px 5px;
	border-radius: 7px;
}

.steam {
	width: 25px;
	height: auto;
	padding: 0px 5px;
	border-radius: 7px;
}

.facebook {
	width: 25px;
	height: auto;
	padding: 0px 5px;
	border-radius: 7px;
}

/*email link*/
.email {
	text-align: center;
	color: white;
	font-family: Cairo;
}

.email a:link, a:visited {
	color: white;
	text-decoration: none;
	text-align: center;
}

/*____________^_^________________*/

/*button like bio button*/
.button {
	text-align: center;
	padding-top: 10px;
	font-family: Cairo;
	transition: 0.4s ease;
}

.button a:link, a:visited {
  background-color: #1a1aff;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}

.button a:hover, a:active {
  background-color: #000080;
  border-radius: 15px;
  transition: 0.3s ease;
}

/*______________________________*/

/*contains about me section and links*/
.mid {
	margin: 0px;
	padding: 0px;
	height: 100vh;	
}

/*my profile picture*/
.picture {
	float: left;
	margin-right: 30px;
}

/*about me*/
.midcontent {
	padding: 40px 100px;
}

p {
	color: white;
	font-family: Cairo;
	font-size: 20px;
	word-spacing: 5px;
}

/*my picture*/
#picture {
	width: 300px;
	height: auto;
	padding-top: 30px;
}

#knowmore {
	color: white;
	font-family: Barlow;
	font-size: 28px;
	text-align: center;
}

/*contains image which links to various things*/
.box {
	float: left;
	width: 25%;
	height: 175px;
	padding: 25px 53px;
}

.box1 {
	float: right;
	width: 25%;
	height: 175px;
	padding: 25px 53px;
}

.boximg {
	width: 100%;
	height: 100%;
	filter: grayscale(100%);
	transition: 0.3s ease;
	max-height: 100%;
	justify-content: center;
	overflow: hidden;
  	min-height: 100%;
  	min-width: 100%;
}

.box:hover .boximg {
	filter: grayscale(0%);
	transform: scale(1.05);
}

.box:hover .boxtext{
	opacity: 1;
}

.box1:hover .boximg {
	filter: grayscale(0%);
	transform: scale(1.05);
}

.box1:hover .boxtext{
	opacity: 1;
}

.boxtext {
	opacity: 0.5;
	color: white;
	font-size: 20px;
	text-align: center;
	transition: 0.3s ease;
	font-family: Cairo;
}

.background2 {
	position: absolute;
	width: 100%;
	height: auto;
	z-index: -1;
}

#contactme {
	margin-left: 435px;
}

.topnav {
	width: 100%;
	height: 75px;
	margin-bottom: 20px;
}

.topnavelement {
	display: inline-block;	
	width: 13.9%;
	height: 100%;
	background-color: #000080;
	transition: 0.3s ease;
	border-color: white;
	border: 1px solid gray;
	margin-bottom: 0px;
	vertical-align: top;
}

.topnavelement:hover {
	background-color: #000066;
}

.topnavelement:hover .navtext {
	opacity: 1;
}

.navtext {
	text-align: center;
	font-family: Cairo;
	font-size: 18px;
	color: white;
	opacity: 0.5;
	transition: 0.3s ease;
	margin-bottom: 0px;
}

.content {
	margin: 20px 50px;
	border-style: solid;
	border-radius: 10px;
	background-color: black;
	padding: 50px;
	overflow: auto;
}

 @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#backimg {
	position: fixed;
	z-index: -1;
	width: 100%;
	height: auto;
}

.footer {
	position: relative;
  	width: 100%;
   	color: white;
   	text-align: center;
	background-color: #0d0d0d;
}

#altbody {
	background: linear-gradient(270deg, #000000, #0f1144);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;
}

#vert {
	height: 300px;
}

#v {
	filter: grayscale(0%);
}

.navtext1 {
	text-align: center;
	font-family: Cairo;
	font-size: 15px;
	padding-top: 10%;
	padding-left: 5%;
	color: white;
	opacity: 1;
	transition: 0.3s ease;
	vertical-align: top;
}

#x {
	padding-top: 5%;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.box:hover #momentsimg {
	filter: contrast(100%);
}

.momentsimg {
	width: 100%;
	height: auto;
}

.xyz {
	overflow: auto;
}

.top2 {
	width: 100%;
	margin: 0px;
	background-color: blue;
	height: 60px;
	transition: 0.5s ease;
	vertical-align: top;
	padding-bottom: 12px;
	overflow: hidden;
}

.top2:hover #home {
	opacity: 0.5;
}

#home {
	text-align: center;
	opacity: 0;
	transition: 0.5s ease;
	vertical-align: top;
}